In [2]:
a = 10 #int
print(a, type(a))
a = 10.2 #float
print(a, type(a))
a = "Hello" #string
print(a, type(a))
a = True #bool
print(a, type(a))
a = None #Nonetype
print(a, type(a))
a = [1,2,3] #Dictionay
print(a, type(a))
a = (1,2,3,4) #tuple
print(a, type(a))
a = {1,2,3} #set
print(a, type(a))
a = {'a':1, 'b':2} #dictionary
print(a, type(a))

10 <class 'int'>
10.2 <class 'float'>
Hello <class 'str'>
True <class 'bool'>
None <class 'NoneType'>
[1, 2, 3] <class 'list'>
(1, 2, 3, 4) <class 'tuple'>
{1, 2, 3} <class 'set'>
{'a': 1, 'b': 2} <class 'dict'>

In [6]:
a = 5
b = 10
print(a,b)
print(a, b, a+b)
print(a, b, a+b, sep='\t')

5 10
5 10 15
5	10	15

In [7]:
c = a + b
print(a, end=',')
print(b)
print(c)

5,10
15

In [8]:
print = 2

In [9]:
del print

In [10]:
print(c)

15

In [11]:
name = "joe"
age=99
city="London"
print(f'His name is {name} but too old {age}, living in {city}')

His name is joe but too old 99, living in London

In [16]:
#z:.1f rounds the value to one decimal places
x = 10
y = 3
z = x/y
print(f'{x}/{y} = {z:.2f}')
print(x, '/', y, '=', round(z,2))

10/3 = 3.33
10 / 3 = 3.33

In [15]:
#a:10(Gives some spaces to the line output)
n1 = "Kilo"
a1 = 22
print(f'{n1:10} {a1}')

Kilo       22