In [8]:
book = {
    "title" : "Man searches for meaning",
    "author": "DK Wells",
    "price" : 99,
    "publisher": "Tor Books",
    "year" : 1950,
    "pages": 100,
    "languages": ['english','french','spanish']
}

In [9]:
print(book)

{'title': 'Man searches for meaning', 'author': 'DK Wells', 'price': 99, 'publisher': 'Tor Books', 'year': 1950, 'pages': 100, 'languages': ['english', 'french', 'spanish']}

In [13]:
print(book['title'])

Man searches for meaning

In [14]:
#new value
book['rating'] = 4.9

In [15]:
print(book)

{'title': 'Man searches for meaning', 'author': 'DK Wells', 'price': 99, 'publisher': 'Tor Books', 'year': 1950, 'pages': 100, 'languages': ['english', 'french', 'spanish'], 'rating': 4.9}

In [16]:
book['type'] = 'paperback'

In [17]:
print(book)

{'title': 'Man searches for meaning', 'author': 'DK Wells', 'price': 99, 'publisher': 'Tor Books', 'year': 1950, 'pages': 100, 'languages': ['english', 'french', 'spanish'], 'rating': 4.9, 'type': 'paperback'}

In [19]:
for i in book:
    print(book[i])

Man searches for meaning
DK Wells
99
Tor Books
1950
100
['english', 'french', 'spanish']
4.9
paperback

In [20]:
book['pages'] = 89

In [22]:
print(book)

{'title': 'Man searches for meaning', 'author': 'DK Wells', 'price': 99, 'publisher': 'Tor Books', 'year': 1950, 'pages': 89, 'languages': ['english', 'french', 'spanish'], 'rating': 4.9, 'type': 'paperback'}

In [24]:
#remove
book.pop("pages")

89

In [25]:
print(book)

{'title': 'Man searches for meaning', 'author': 'DK Wells', 'price': 99, 'publisher': 'Tor Books', 'year': 1950, 'languages': ['english', 'french', 'spanish'], 'rating': 4.9, 'type': 'paperback'}

In [26]:
book['author'] = 'akash'

In [27]:
print(book)

{'title': 'Man searches for meaning', 'author': 'akash', 'price': 99, 'publisher': 'Tor Books', 'year': 1950, 'languages': ['english', 'french', 'spanish'], 'rating': 4.9, 'type': 'paperback'}

In [43]:
#view all values
list(book.values())
list(book.keys())
list(book.items())

[('title', 'Man searches for meaning'),
 ('author', 'akash'),
 ('price', 99),
 ('publisher', 'Tor Books'),
 ('year', 1950),
 ('languages', ['english', 'french', 'spanish']),
 ('rating', 4.9),
 ('type', 'paperback')]

In [45]:
book.get('publisher','not found')

'Tor Books'

In [46]:
book.get('Publisher','not found')

'not found'

In [56]:
print(book)

{'title': 'Man searches for meaning', 'author': 'akash', 'price': 99, 'publisher': 'Tor Books', 'year': 1950, 'languages': ['english', 'french', 'spanish'], 'rating': 4.9, 'type': 'paperback'}

In [59]:
val = 'paperback'
index = 0
count = 0
s_val = list(book.values())
s_key = list(book.keys())
# print(s_val)
list(book.keys())
for i in s_val:
    index = index + 1
    if val == i:
        count = index
print(s_key[count-1])

['Man searches for meaning', 'akash', 99, 'Tor Books', 1950, ['english', 'french', 'spanish'], 4.9, 'paperback']
type

In [66]:
myrating ={}
for i in range(1,4):
    name = input("Movie Name")
    rating = float(input("Movie Rating"))
    myrating[name] = rating
print(myrating)

{'movie_one': 10.0, 'movie_two': 2.0, 'movie_three': 3.0}

In [67]:
for i in myrating:
    print(i) #only keys

print('---' * 10)
for i in myrating:
    print(i, myrating[i])
print('---'*10)

for i,v in myrating.items():
    print(i,v)

movie_one
movie_two
movie_three
------------------------------
movie_one 10.0
movie_two 2.0
movie_three 3.0
------------------------------
movie_one 10.0
movie_two 2.0
movie_three 3.0

In [65]:
book.clear()
print(book)

{}

In [75]:
books = {
    "book1": {
        "title": "The Great Gatsby",
        "author": "F. Scott Fitzgerald",
        "year": 1925,
        "genre": "Fiction"
    },
    "book2": {
        "title": "To Kill a Mockingbird",
        "author": "Harper Lee",
        "year": 1960,
        "genre": "Fiction"
    },
    "book3": {
        "title": "1984",
        "author": "George Orwell",
        "year": 1949,
        "genre": "Dystopian"
    }
}

# Accessing information about a specific book
print("Title:", books["book1"]["title"])
print("Author:", books["book1"]["author"])
print("Year:", books["book1"]["year"])
print("Genre:", books["book1"]["genre"])

Title: The Great Gatsby
Author: F. Scott Fitzgerald
Year: 1925
Genre: Fiction

In [85]:
for key, value in books.items():
    print(key)
    for key2, value2 in value.items():
        print(f"\t{key2} = {value2}")

book1
	title = The Great Gatsby
	author = F. Scott Fitzgerald
	year = 1925
	genre = Fiction
book2
	title = To Kill a Mockingbird
	author = Harper Lee
	year = 1960
	genre = Fiction
book3
	title = 1984
	author = George Orwell
	year = 1949
	genre = Dystopian

In [88]:
query = 'The Great Gatsby'
for name, detail in books.items():
    if query in detail['title']:
        print(name, detail)

book1 {'title': 'The Great Gatsby', 'author': 'F. Scott Fitzgerald', 'year': 1925, 'genre': 'Fiction'}

In [98]:
#wap create a dict that store numbers and their squaes
number = [1,2,3,4,5,6,7,8,9,10]
dict = {}
for i in range(1,100):
    dict[i] = i * i
print(dict)
for key, val in dict.items():
    print(key, val)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400, 21: 441, 22: 484, 23: 529, 24: 576, 25: 625, 26: 676, 27: 729, 28: 784, 29: 841, 30: 900, 31: 961, 32: 1024, 33: 1089, 34: 1156, 35: 1225, 36: 1296, 37: 1369, 38: 1444, 39: 1521, 40: 1600, 41: 1681, 42: 1764, 43: 1849, 44: 1936, 45: 2025, 46: 2116, 47: 2209, 48: 2304, 49: 2401, 50: 2500, 51: 2601, 52: 2704, 53: 2809, 54: 2916, 55: 3025, 56: 3136, 57: 3249, 58: 3364, 59: 3481, 60: 3600, 61: 3721, 62: 3844, 63: 3969, 64: 4096, 65: 4225, 66: 4356, 67: 4489, 68: 4624, 69: 4761, 70: 4900, 71: 5041, 72: 5184, 73: 5329, 74: 5476, 75: 5625, 76: 5776, 77: 5929, 78: 6084, 79: 6241, 80: 6400, 81: 6561, 82: 6724, 83: 6889, 84: 7056, 85: 7225, 86: 7396, 87: 7569, 88: 7744, 89: 7921, 90: 8100, 91: 8281, 92: 8464, 93: 8649, 94: 8836, 95: 9025, 96: 9216, 97: 9409, 98: 9604, 99: 9801}
1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81
10 100
11 121
12 144
13 169
14 196
15 225
16 256
17 289
18 324
19 361
20 400
21 441
22 484
23 529
24 576
25 625
26 676
27 729
28 784
29 841
30 900
31 961
32 1024
33 1089
34 1156
35 1225
36 1296
37 1369
38 1444
39 1521
40 1600
41 1681
42 1764
43 1849
44 1936
45 2025
46 2116
47 2209
48 2304
49 2401
50 2500
51 2601
52 2704
53 2809
54 2916
55 3025
56 3136
57 3249
58 3364
59 3481
60 3600
61 3721
62 3844
63 3969
64 4096
65 4225
66 4356
67 4489
68 4624
69 4761
70 4900
71 5041
72 5184
73 5329
74 5476
75 5625
76 5776
77 5929
78 6084
79 6241
80 6400
81 6561
82 6724
83 6889
84 7056
85 7225
86 7396
87 7569
88 7744
89 7921
90 8100
91 8281
92 8464
93 8649
94 8836
95 9025
96 9216
97 9409
98 9604
99 9801

In [100]:
#wap to ask user to enter itmes and its price and then store it in a dictionary,
# the program should stop when the user wants

dict = {}
while input('continue adding [y]:') == 'y':
    item = input("enter item")
    price = int(input("Enter price"))
    dict[item] = price
print(dict)

{'mango': 100, 'apple': 400}

In [101]:
items = {}
while True:
    item = input("enter name:")
    if not item: break
    price = int(input('enter price'))
    items[item] = price
print(items)

{}