In [1]:
for i in range(5,11):
    print(i)

5
6
7
8
9
10

In [2]:
for i in range(5, 100, 5):
    print(i, end=" ")

5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95

In [3]:
for i in range(10, 0, -1):
    print(i, end=" ")

10 9 8 7 6 5 4 3 2 1

In [8]:
for i in range(10, 11):
    print(i)

10

In [5]:
data = [1,2,3,4,5,6,7]
#traversal of list
for i in data:
    print(i, end=' ')

1 2 3 4 5 6 7

In [9]:
prices = [1,2,None,3,4,None]
for pr in prices:
    if pr is None:
        continue
    print(pr)

1
2
3
4

In [10]:
prices = [1,2,None,3,4,None]
for pr in prices:
    if pr is not None:
        print(pr)

1
2
3
4

In [13]:
prices = [1,2,None,3,4,None]
for items in prices:
    if items is None:
        break
    print(items)
print("END")

1
2
END

In [15]:
for i in range(1, 21):
    print(i)
    for j in range(1,11):
        print(i*j, end=' ')
    print()

1
1 2 3 4 5 6 7 8 9 10
2
2 4 6 8 10 12 14 16 18 20
3
3 6 9 12 15 18 21 24 27 30
4
4 8 12 16 20 24 28 32 36 40
5
5 10 15 20 25 30 35 40 45 50
6
6 12 18 24 30 36 42 48 54 60
7
7 14 21 28 35 42 49 56 63 70
8
8 16 24 32 40 48 56 64 72 80
9
9 18 27 36 45 54 63 72 81 90
10
10 20 30 40 50 60 70 80 90 100
11
11 22 33 44 55 66 77 88 99 110
12
12 24 36 48 60 72 84 96 108 120
13
13 26 39 52 65 78 91 104 117 130
14
14 28 42 56 70 84 98 112 126 140
15
15 30 45 60 75 90 105 120 135 150
16
16 32 48 64 80 96 112 128 144 160
17
17 34 51 68 85 102 119 136 153 170
18
18 36 54 72 90 108 126 144 162 180
19
19 38 57 76 95 114 133 152 171 190
20
20 40 60 80 100 120 140 160 180 200

enummerate
zip
for - else

In [1]:
names = ['Radha','Rohan', 'Madhu', 'Rajesh']
for name in enumerate(names):
    print(name)

(0, 'Radha')
(1, 'Rohan')
(2, 'Madhu')
(3, 'Rajesh')

In [2]:
for idx, name in enumerate(names):
    print(idx, name)

0 Radha
1 Rohan
2 Madhu
3 Rajesh

In [5]:
x = [1,2,3,23,3,23,23,123,2,313,2,3,312,3,23,213]
for i, v in enumerate(x):
    if i == 10:
        break
    print(v)

1
2
3
23
3
23
23
123
2
313

In [6]:
x = [1,2,3]
y = [4,5,6]
z = [7,8,9]

for i in zip(x,y,z):
    print(i)

(1, 4, 7)
(2, 5, 8)
(3, 6, 9)

The zip() function returns a zip object, which is an iterator of tuples where the first item in each passed iterator is paired together, and then the second item in each passed iterator are paired together etc.

If the passed iterators have different lengths, the iterator with the least items decides the length of the new iterator.

Syntax
zip(iterator1, iterator2, iterator3 ...)

In [8]:
for i, j, k in zip(x, y, z):
    print(i+j+k)

12
15
18

The else keyword in a for loop specifies a block of code to be executed when the loop is finished:

Print all numbers from 0 to 5, and print a message when the loop has ended:

for x in range(6):
  print(x)
else:
  print("Finally finished!")

In [11]:
for i in x:
    if i == 13:
        break
    print(i)
else:
    print("completed without break")

1
2
3
completed without break

In [2]:
num = 11111
for i in range(2,num):
    if num%i == 0:
        print(f"{num} % {i} = {num%i}")
        print('prime')
        break
else:
    print('not prime')

11111 % 2 = 1
11111 % 3 = 2
11111 % 4 = 3
11111 % 5 = 1
11111 % 6 = 5
11111 % 7 = 2
11111 % 8 = 7
11111 % 9 = 5
11111 % 10 = 1
11111 % 11 = 1
11111 % 12 = 11
11111 % 13 = 9
11111 % 14 = 9
11111 % 15 = 11
11111 % 16 = 7
11111 % 17 = 10
11111 % 18 = 5
11111 % 19 = 15
11111 % 20 = 11
11111 % 21 = 2
11111 % 22 = 1
11111 % 23 = 2
11111 % 24 = 23
11111 % 25 = 11
11111 % 26 = 9
11111 % 27 = 14
11111 % 28 = 23
11111 % 29 = 4
11111 % 30 = 11
11111 % 31 = 13
11111 % 32 = 7
11111 % 33 = 23
11111 % 34 = 27
11111 % 35 = 16
11111 % 36 = 23
11111 % 37 = 11
11111 % 38 = 15
11111 % 39 = 35
11111 % 40 = 31
11111 % 41 = 0
prime