In [1]:
x = (12,45,65) #tuple_creation
print(x)
print(type(x))

(12, 45, 65)
<class 'tuple'>

In [2]:
a = 1,2,3,4 #tuple packing
print(a)

(1, 2, 3, 4)

In [4]:
w, x, y, z = a #tuple unpacking
print(w,x,y,z)
first, *rest = a #first value will be stored in first variable and rest will be stored in list
print(first, rest)

1 2 3 4
1 [2, 3, 4]

In [5]:
for i,v in enumerate(a):
    print(i, v)

0 1
1 2
2 3
3 4

In [6]:
"Akash deep srivastava".split()

['Akash', 'deep', 'srivastava']

In [8]:
fname, mname, lname = "Akash deep srivastava".split()
print(fname, mname, lname, sep='\n')

Akash
deep
srivastava

In [9]:
fname, *lname = "Akash deep srivastava".split()
print(fname, lname, sep='\n')

Akash
['deep', 'srivastava']

In [11]:
x = ('apple', 'banana', 'cherry', 'banana')
print(x.count('banana'))

2

In [12]:
print(x.index('cherry'))

2

In [13]:
x = [1,2,3,4]
xt = tuple(x)
print(x,xt)
xl = list(xt)
xs = set(x)
xts = set(xt)
print(xl, xs, xts)

[1, 2, 3, 4] (1, 2, 3, 4)
[1, 2, 3, 4] {1, 2, 3, 4} {1, 2, 3, 4}

In [14]:
print(xt[-1])
print(xt[0])

4
1

In [15]:
a = {3,4,5,4,3,2,3,21,1}
print(type(a))

<class 'set'>

In [20]:
b = set() #empty set
b.add('hello')
b.add('mellow')
b.update({'hello','hello2'}) # add a itterable to a list
print(b)

{'mellow', 'hello2', 'hello'}

In [19]:
b.discard('hello')

In [21]:
a = {1,2,3,4}
b = {3,4,5,6}
c = {1,2,3,4,5,6,7,8,9,10}
d = {6,7,8,9,10}

a.union(b) #a | b

{1, 2, 3, 4, 5, 6}

In [22]:
a.intersection(b) # a & b

{3, 4}

In [23]:
print(a.difference(b) )#a - b
print(b.difference(a) )#b - a
a.symmetric_difference(b) # a^b

{1, 2}
{5, 6}

{1, 2, 5, 6}

In [25]:
c.issuperset(a)

True

In [26]:
a.issubset(b)

False

In [27]:
a.isdisjoint(a)

False