In [7]:
import pandas as pd

In [8]:
df = pd.read_excel('IACFS_data (2).XLSX', skiprows=1)

In [9]:
df.head(10)

,Unnamed: 0,2021,2022 (RE),2023 (BE),Unnamed: 4,State,2020-21,2021-22 RE,2022-23 BE
0,1. Andhra Pradesh,34.8,32.8,33.0,NaN,1. Andhra Pradesh,1.9,1.5,2.3
1,2. Arunachal Pradesh,45.0,41.4,39.7,NaN,2. Arunachal Pradesh,16.4,21.1,17.2
2,3. Assam,26.4,26.9,27.5,NaN,3. Assam,3.6,8.6,4.2
3,4. Bihar,38.7,38.5,38.6,NaN,4. Bihar,3.1,5.7,4.0
4,5. Chhattisgarh,28.6,26.9,27.1,NaN,5. Chhattisgarh,2.6,3.6,3.5
5,6. Goa,35.2,36.5,39.6,NaN,6. Goa,2.7,8.6,5.9
6,7. Gujarat,22.2,20.3,19.5,NaN,7. Gujarat,1.6,1.5,1.6
7,8. Haryana,32.5,29.3,28.9,NaN,8. Haryana,0.8,1.6,2.2
8,9. Himachal Pradesh,44.0,41.3,41.9,NaN,9. Himachal Pradesh,3.4,4.1,2.9
9,10. Jharkhand,36.3,34.0,34.1,NaN,10. Jharkhand,2.8,2.9,4.4

In [10]:
df.columns

Index(['Unnamed: 0',         2021,  '2022 (RE)',  '2023 (BE)', 'Unnamed: 4',
            'State',    '2020-21', '2021-22 RE', '2022-23 BE'],
      dtype='object')

In [11]:
debt_2021 = df[2021]
debt_2022 = df["2022 (RE)"]
debt_2023 = df["2023 (BE)"]

In [12]:
capital_2021 = df['2020-21']
capital_2022 = df['2021-22 RE']
capital_2023 = df['2022-23 BE']

In [13]:
combined_debt = pd.concat([debt_2021, debt_2022, debt_2023], axis=0, ignore_index=True)

In [14]:
combined_debt

0     34.8
1     45.0
2     26.4
3     38.7
4     28.6
      ...
82    34.8
83    32.6
84    32.0
85    35.5
86    29.5
Length: 87, dtype: float64

In [15]:
combined_capital = pd.concat([capital_2021, capital_2022, capital_2023], axis=0, ignore_index=True)

In [16]:
combined_capital

0      1.9
1     16.4
2      3.6
3      3.1
4      2.6
      ...
82     5.6
83     5.7
84     3.9
85     1.9
86     2.9
Length: 87, dtype: float64

In [17]:
correlation = combined_debt.corr(combined_capital)

In [18]:
correlation

0.32445088521150495